pipeline:
  name: Java Web Application
  identifier: Java_Web_Application
  projectIdentifier: grand_line
  orgIdentifier: default
  tags: {}
  stages:
    - stage:
        name: Build
        identifier: Build
        description: ""
        type: CI
        spec:
          cloneCodebase: true
          caching:
            enabled: true
            override: true
          buildIntelligence:
            enabled: true
          platform:
            os: Linux
            arch: Amd64
          runtime:
            type: Cloud
            spec: {}
          execution:
            steps:
              - stepGroup:
                  name: Build Package Upload War Files
                  identifier: Build_Package_Upload_War_Files
                  template:
                    templateRef: Build_Package_S3_War_Files
                    versionLabel: v1.0.0
                    gitBranch: main
                    templateInputs:
                      steps:
                        - stepGroup:
                            identifier: Build_Package_Artifact
                            steps:
                              - step:
                                  identifier: Build
                                  type: Run
                                  spec:
                                    connectorRef: <+input>
                                    envVariables:
                                      WORKSPACE: <+input>
                              - step:
                                  identifier: S3Upload_1
                                  type: S3Upload
                                  spec:
                                    connectorRef: <+input>
                                    region: <+input>
                                    bucket: <+input>
                                    target: <+input>
  properties:
    ci:
      codebase:
        connectorRef: gh_connector
        repoName: harness
        build: <+input>
